<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button id="back-home">back</button>
    </div>
    <form id="diner-reg">
        <div>
            <label for="first-name">first name:</label>
            <input type="text" id="first-name">
            <label for="last-name">last name:</label>
            <input type="text" id="last-name">
        </div>
        <div>
            <label for="email">email:</label>
            <input type="text" id="email">
        </div>
        <div>
            <label for="password">password:</label>
            <input type="text" id="password">
        </div>
        <input class="login-btn" type="submit" value="Submit">
    </form>
    <div id="container"></div>
    <script src="static/script/diner_register.js"></script>
</body>
</html>