<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Value Eat</title>
</head>
<body>
    <nav class="nav-bar">
        <button id="sign-up">sign up</button>
        <button id="login">login</button>
        <button id="profile">profile</button>
        <button id="log-out">logout</button>
    </nav>
    <section class="recommend">
        <h1 id="msg">Welcome to Value Eat!</h1>
    </section>
    <script src="static/script/index.js"></script>
</body>
</html>