<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <button id="back-home">back</button>
    </div>
    <div id="note"></div>
    <form id="login-form">
        <div>
            <label for="email">email:</label>
            <input type="text" id="email">
        </div>
        <div>
            <label for="password">password:</label>
            <input type="text" id="password">
        </div>
        <input class="login-btn" type="submit" value="Submit">
    </form>
    <script src="static/script/login.js"></script>
</body>
</html>